fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
pydantic
email-validator
python-dotenv
psycopg2-binary
alembic
pydantic-settings
requests
tmdbv3api
boto3
pinecone
openai
sentence-transformers
numpy